.os__container{
    font-size: .9rem;
    background-color: #ffffff;
}

.os__search-container{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:10px 10px 0 10px;
}

.os__search-input{
    width:75%;
    height:35px;
    border:1px solid  rgb(192, 192, 192);
    border-radius: 3px;
    margin: 0 3px 0 -10px;
    font-size: 1.3rem;
    color: #2c3e50;
}

.os__search-input::placeholder{
    font-family: "Poppins";
    font-size:0.9rem;
}

.os__search-logo{
    height: 30px;
    width:auto;
}

.os__search-btn{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: white;
}

.os__link{
    color:#0984e3;
    text-decoration: none;
}

.os__date-list{
    list-style: none;
    padding:0;
    transition: max-height .5s, opacity 0.5s, visibility 0s ease-in;
}

.os__date-list > li{
    display:grid;
    grid-template-columns: 30% 10% 40% 10%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". radio label .";
    justify-items:start;
    text-align: start;
    border:1px solid rgba(160, 168, 172, 0.39);
    padding: 5px;
}

.os__hidden{
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}

.os__visible{
    visibility: visible;
    opacity: 1;
    max-height:500px;
}

.os__date-list>li>input{
    grid-area: radio;
}

.os__filter-label{
    grid-area: label;
}

.os__order{
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius:3px;
    margin:2px;
    cursor: pointer;
    display:grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "order-props items logo";
    justify-items:stretch;
    text-align: start;

}

.os__props{
    grid-area: order-props;
}

.os__items-container{
    grid-area: items;
    display: flex;
    flex-direction: column;
}

.os__next-logo{
    grid-area: logo;
    width:30px;
    height:auto;
}

.os__item{
    margin-bottom: 10px;
}

.os__additional{
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}

.os__button-list{
    display:flex;
    flex-direction: column;
    width: 250px;
    grid-area: buttons;
    margin-right:15px;
    margin-bottom: 15px;
}

.os__button{
    font-family: "Poppins";
    margin: 2px;
    cursor:pointer;
    height: 30px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(109, 109, 109);
    font-weight:bold;
}

@media all and (min-width: 600px){
    .os__order{
        padding:0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 35px 60px 1fr;
        grid-template-areas: 
        "labels labels labels labels"
        "order-props order-props order-props order-props"
        "items items items buttons";
        cursor: default;
        margin: 40px;
        font-size: .85rem;
        font-weight:bold;
    }

    .os__props{
        margin:0;
        padding:5px;
        padding-left:10px;
        background-color: #dfdfdf;
        margin-bottom: 20px;

        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: start;
        grid-area: order-props;
    }

    .os__labels{
        margin:0;
        padding-left:10px;
        background-color: #dfdfdf;
        font-weight: 200;

        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: center;
        visibility: visible;
        opacity: 1;
        max-height: auto;
        grid-area: labels;
    }

    .os__order-details{
        justify-self: end;
        padding-right:5px;
    }

    .os__additional{
        visibility: visible;
        opacity: 1;
        max-height: none;
    }

    .os__next-logo{
        display: none;
        visibility: hidden;
        opacity: 0;
        max-height: 0;    
    }

    .os__package-logo{
        width: 64px;
        height: 64px;
    }
}