.ml__nav-container{
    padding:0;
    margin:0;
}

.ml__top{
    display:flex;
    justify-content: space-between;
    background-color: white;
}

.ml__cust{
    display: flex;
}

.ml__customer-img{
    width: 32px;
    height:32px;
}

.ml__custId{
    font-size: 1.2rem;
    margin: 10px;
    font-weight: bold;
    color:#2980b9;
}

.ml__menu-img{
    border: 1px solid rgb(184, 184, 184);
    margin: 10px;
}

.ml__nav-list{
    list-style: none;
    padding:0;
    margin:0;
    transition: max-height .75s, opacity 0.5s, visibility 0s ease-in;
}

.ml__nav-list>li{
    background-color: white;
    padding: 5px;
    border: 1px solid rgb(184, 184, 184);
}

.ml__nav-link{
    text-decoration: none;
    color:#3498db;
}

.ml__visible{
    visibility:visible;
    opacity: 1;
    max-height: 500px;
}

.ml__hidden{
    visibility:hidden;
    opacity: 0;
    max-height: 0;
}

.ml__selected{
    border-bottom: 3px solid #3498db;
    border-top: 3px solid #3498db;
    color:orange;
}

@media all and (min-width: 750px){
    .ml__menu-img{
        visibility:hidden;
        opacity: 0;
        max-height: 0;    
    }

    .ml__nav-list{
        visibility:visible;
        opacity: 1;
        max-height: 500px;
        display:flex;
        flex-direction: row;
        margin-top:3px;
    }

    .ml__nav-list>li{
        border:0px;
        margin:3px;
        transition: all 0.3s linear;
    }

    .ml__nav-link{
        transition: all 0.3s linear;
    }

    .ml__nav-link:hover{
        color:orange;
        border-bottom: 3px solid #3498db;
        border-top: 3px solid #3498db;
    }

    .ml__nav-container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
    }
}
